<nav class="navbar navbar-light">
  <a class="navbar-brand" href="/">Yelp MVP</a>
  <form class="form-inline">
    <a class="btn btn-outline-success my-2 my-sm-0" href="/restaurants/new">Create Restaurant</a>
  </form>
</nav>
